<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="udacity.com.madrid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/madridlogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Monuments"
            android:label="Information about the City"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".Restaurants"
            android:label="Restaurants from Madrid"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".Hotel"
            android:label="Hotels from Madrid"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".NightLife"
            android:label="Clubs from Madrid"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".Museums"
            android:label="Museums from Madrid"
            android:parentActivityName=".MainActivity"/>
    <activity android:name=".Transport"
        android:label="Ways that you can use to move"
        android:parentActivityName=".MainActivity"/>
<meta-data
    android:name="android.support.PARENT_ACTIVITY"
    android:value=".MainActivity"/>
    </application>
    </manifest>